<% if logged_in? %>
  
  <div class="pagetitle">
    <p><h2 align="center">ことば一覧</h2></p>
    <p><h3 align="center">- STEP.1 こども情報を登録してね → STEP.2 ことばを登録してね -</h3></p>
  </div>
  
  <% if @childlogs.any? %>
    <table class="table table-hover">
      <thead.thead-default>
        <tr>
          <th><h5>ことば</h5></th>
          <th><h5>ことばの詳細</h5></th>
          <th><h5>だれのことば</h5></th>
          <th><h5>ことばを発した日</h5></th>
          <th><h5>ことばを発した年齢</h5></th>          
          <th><h5>登録日時</h5></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @childlogs.each do |childlog| %>
          <tr>
            <td><h5><%= link_to childlog.word.truncate(10, omission: '…'), childlog %></h5></td>
            <td><h5><%= childlog.content.truncate(10, omission: '…') %></h5></td>
            <td><h5><%= childlog.child.childname %></h5></td>            
            <td><h5><%= childlog.childwordtiming %></h5></td>
            <td><h5><%= (childlog.childwordtiming.strftime('%Y%m%d').to_i - childlog.child.childbirthday.strftime('%Y%m%d').to_i) / 10000  %>歳</h5></td>            
            <td><h5><%= childlog.created_at.strftime('%Y-%m-%d %H:%M') %></h5></td>
            <td><%= link_to '編集', edit_childlog_path(childlog), class: "btn btn-primary" %></td>
            <td><%= link_to '削除', childlog, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-warning' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  
  <%= link_to 'ことば登録', new_childlog_path, class: "btn btn-primary" %>
<% else %>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 cover-img" style="background-image:url('/images/park_photo3.jpg');">
		<div class="col-xs-12 cover-mask";">			
			<div class="cover-text text-center">
			  <div class="pagetitle">
				<p><h1 style="color: #646766;">こどもログとは？</h1></p>
				<p><h3 style="color: #646766;">小さなこどもの言い間違いなど、こどもの言葉をログとして登録できるサイトです</h3><p>
				<p><h3 style="color: #646766;">例：とうもころし -> とうもろこしのこと</h3><p>
				</div>
				
				<BR>
				  <%= link_to 'ユーザー登録はこちらです', signup_path, class: 'btn btn-lg btn-info' %>
			</div>
		</div>
	</div>

</div>
<% end %>
